flows/modbus-to-influx.json
[{"id":"db03d9b6.12cb68","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"6160fa6b.06f954","type":"modbus-read","z":"db03d9b6.12cb68","name":"Read analog inputs","topic":"","showStatusActivities":true,"logIOActivities":false,"showErrors":true,"unitid":"","dataType":"InputRegister","adr":"0","quantity":"8","rate":"10","rateUnit":"s","delayOnStart":true,"startDelayTime":"1","server":"cfea0165.15c4e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":190,"y":80,"wires":[["22b113bc.44a95c"],[]]},{"id":"51f99185.4c325","type":"debug","z":"db03d9b6.12cb68","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":140,"wires":[]},{"id":"22b113bc.44a95c","type":"function","z":"db03d9b6.12cb68","name":"Format value","func":"holdingRegisters = msg.payload;\nmeasures = [];\n\nfunction addPressureMeasure(element, index) {\n    measures.push(\n    {\n        measurement: \"pressure-\"+(index+1),\n        fields: {\n            value: element,\n        },\n        tags: {\n            sensor: \"4-20mA/0-5VDC\"   \n        },\n        timestamp: new Date()\n    });\n}\n\nfunction addTemperatureMeasure(element, index) {\n    measures.push(\n    {\n        measurement: \"temperature-\"+(index+1),\n        fields: {\n            value: element,\n        },\n        tags: {\n            sensor: \"K22\"   \n        },\n        timestamp: new Date()\n    });\n}\n\nholdingRegisters.slice(1, 3).forEach(addPressureMeasure);\nholdingRegisters.slice(3).forEach(addTemperatureMeasure);\nmsg.payload = measures;\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":80,"wires":[["51f99185.4c325","2d0ef883.6da9a8"]]},{"id":"2d0ef883.6da9a8","type":"influxdb batch","z":"db03d9b6.12cb68","influxdb":"c45971c8.4a9c6","precision":"","retentionPolicy":"","name":"Send to Influx","x":800,"y":60,"wires":[]},{"id":"cfea0165.15c4e","type":"modbus-client","z":"","name":"ft232rl","clienttype":"serial","bufferCommands":true,"stateLogEnabled":true,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"2","serialParity":"even","serialConnectionDelay":"1000","unit_id":"1","commandDelay":"100","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"c45971c8.4a9c6","type":"influxdb","z":"","hostname":"192.168.88.252","port":"32770","protocol":"http","database":"nodered","name":"NAS","usetls":false,"tls":""}]